# Node modules
node_modules/
client/node_modules/
api/node_modules/

# Environment variables
.env
*.env

# Build
client/dist/
client/build/

# Logs
*.log
npm-debug.log*

# OS fájlok
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml